body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

li {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
}
